<br>
<div align="center">
  <div class="card text-center" style="width: 50rem;">
    <div class="card-header">
      <h1><%= "#{@gossip.anonymous_author}" %></h1>
    </div>
    <div class="card-body">
        <h4 class="card-text"><%= "#{@gossip.content}" %></h4>
        <br>
        <p class="card-text"><%= "Date de création : #{@gossip.created_at}" %></p>
        <p class="card-text"><%= "Dernière mise à jour : #{@gossip.updated_at}" %></p>
        <br>
        <br>
        <div id="buttons">
          <% if current_user && current_user.id == @gossip.user_id %>
            <%= link_to 'Modifier', edit_gossip_path(@gossip), class: "btn btn-success", id: "btn-middle" %>
          <% end %>
          <a href="/gossips" class="btn btn-primary">Retourner à la liste des gossips</a>
          <% if current_user && current_user.id == @gossip.user_id %>
            <%= button_to 'Supprimer', @gossip, method: :delete, class: "btn btn-danger", data: { confirm: 'Êtes-vous sûr ?' } %>
          <% end %>
        </div>
    </div>
  </div>
  <br>
  <br>
  <h2 style="color:  #f1f1f1"><%= "#{Comment.where(gossip_id: @gossip.id).count} #{(Comment.where(gossip_id: @gossip.id).count > 1) ? "commentaires" : "commentaire"}" %></h2>
  <br>
  <% if current_user %>
    <%= link_to 'Ajouter un commentaire', new_gossip_comment_path(@gossip), class: "btn btn-success"%>
  <% end %>
  <br>
  <br>

  <!-- COMMENTS -->
  <% for comment in @comments.where(gossip_id: @gossip.id) %>
  <div align="center">
    <div class="card text-center" style="width: 40rem;">
      <div class="card-header">
        <h4><%= "#{comment.anonymous_commentator}" %></h4>
      </div>
        <div class="card-body">
            <p class="card-text"><%= "#{comment.content}" %></p>
            <br>
            <span class="fas fa-comment-dots"></span> <%= Reply.where(comment_id: comment.id).count %>
            <span style="padding-left: 20px" class="fas fa-thumbs-up"></span> <%= Like.where(comment_id: comment.id).count %>
            <br>
            <br>
              <div id="buttons">
                <%= link_to '+ de détail', gossip_comment_path(@gossip, comment.id), class: "btn btn-primary" %>
                <% if current_user && current_user.id == comment.user_id %>
                  <%= link_to 'Modifier', edit_gossip_comment_path(@gossip, comment.id), class: "btn btn-success" %>
                  <%= button_to 'Supprimer', gossip_comment_path(@gossip, comment.id), method: :delete, class: "btn btn-danger", data: { confirm: 'Êtes-vous sûr ?' } %>
                <% end %>
              </div>
        </div>
      </div>
      <br>
    </div>
  <% end %>
</div>
